Source: liquidsoap
Section: sound
Priority: optional
Maintainer: Debian OCaml Maintainers <debian-ocaml-maint@lists.debian.org>
Uploaders: Daniel James <daniel@64studio.com>
Build-Depends:
 debhelper (>= 7.0.1),
 libasound2,
 libflac8,
 libmad0,
 libmp3lame0,
 libjack0,
 libogg0,
 libpcre3,
 libportaudio2,
 libsamplerate0,
 libstdc++6,
 libao4 | libao2,
 libpulse0,
 libtag1c2a | libtagc0 | libtag1-vanilla,
 libvorbis0a,
 libvorbisenc2,
 libvorbisfile3,
 libx11-6,
 libjson0
Standards-Version: 3.9.2
Vcs-Git: git://git.debian.org/git/pkg-ocaml-maint/packages/liquidsoap.git
Vcs-Browser: http://git.debian.org/?p=pkg-ocaml-maint/packages/liquidsoap.git
Homepage: http://savonet.sourceforge.net/

Package: liquidsoap
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 wget,
 sox,
 adduser
Recommends:
 logrotate,
 mp3gain,
 vorbisgain,
 vorbis-tools
Suggests:
 icecast2,
 festival,
 mplayer,
 libcamomile-ocaml-data,
 liguidsoap,
 liquidsoap-plugin-mad,
 liquidsoap-plugin-lame,
 liquidsoap-plugin-taglib,
 liquidsoap-plugin-vorbis,
 liquidsoap-plugin-flac,
 liquidsoap-plugin-voaacenc,
 liquidsoap-plugin-icecast,
 liquidsoap-plugin-faad,
 liquidsoap-plugin-pulseaudio,
 liquidsoap-plugin-samplerate,
 liquidsoap-plugin-xmlplaylist
Description: audio streaming language
 Liquidsoap is a powerful tool for building complex audio streaming systems,
 typically targeting internet radios (e.g. icecast streams).
 .
 It consists of a simple script language, in which you can create, combine and
 transform audio sources. Its design makes liquidsoap flexible and easily
 extensible.
 .
 Some of the typical uses are:
  * dynamically generating playlists depending on the time or other factors
  * having smooth transitions between songs
  * adding jingles periodically
  * applying effects on the sound like volume normalization
  * reencoding the stream at various qualities
  * remotely controlling the stream
