#!/usr/bin/make -f

DIST=$(shell dpkg-parsechangelog | awk '/^Distribution: / {print $$2}')

%:
	dh $@

override_dh_auto_install:
	mkdir -p $(CURDIR)/debian/liquidsoap/usr/bin/
	cp $(CURDIR)/bin/liquidsoap_$(DIST)_$(DEB_HOST_ARCH_CPU) $(CURDIR)/debian/liquidsoap/usr/bin/liquidsoap

override_dh_installchangelogs:
	dh_installchangelogs doc/README

override_dh_usrlocal:
